<h3>{{ poll.Name }} [edit]</h3>
<p> {{ poll.Description }}</p>

<div ng-repeat="q in poll.Questions">

  <div class="card white">
    <div class="card-content">

      <span class="card-title">Question {{ $index + 1 }}</span>

      <div>
        <label>Caption</label>
        <input id="caption" type="text" class="validate" ng-model="q.Caption">
      </div>

      <label>Type</label>
      <select>
        <option value="1">Text</option>
      </select>

    </div>
    <div class="card-action">
      <a ng-click="moveDown($index)">Move down</a>
      <a ng-click="moveUp($index)">Move up</a>
      <a ng-click="deleteQuestion(q.Id)">Delete</a>
    </div>
  </div>

</div>

<a class="waves-effect waves-light btn" ng-click="createQuestion()">Add question</a>
<a class="waves-effect waves-light btn" ng-click="updateQuestions()">Save</a>
