<table style="margin:10px;">
  <thead>
  <tr>
    <th style="width: 50%">Name</th>
    <th style="width: 50%">Description</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="poll in polls">
    <td>{{ poll.Name }}</td>
    <td>{{ poll.Description }}</td>
    <td><a class="waves-effect waves-teal btn-flat" ng-click="editPoll(poll.Id)">Edit</a></td>
    <td><a class="waves-effect waves-teal btn-flat" ng-click="pollResults(poll.Id)">Results</a></td>
    <td><a class="waves-effect waves-teal btn-flat" ng-click="takePoll(poll.Id)">Take</a></td>
    <td><a class="waves-effect waves-teal btn-flat" ng-click="deletePoll(poll.Id)">Delete</a></td>
  </tr>
  </tbody>
</table>

<div class="input-field col s6">
  <input id="name" type="text" class="validate" ng-model="name">
  <label for="name">Name</label>
</div>
<div class="input-field col s6">
  <input id="description" type="text" class="validate" ng-model="description">
  <label for="description">Description</label>
</div>
<div>
  <a class="waves-effect waves-light btn" ng-click="createPoll()">Create</a>
</div>
